textarea {
  margin: 60px;
  border: 2px solid blue;
  background-color: peachpuff;
}

.wrap {
  display: flex;
}

button {
  background-color: peachpuff;
  color: black;
  padding: 10px;
  margin: 10px;
  height: 50px;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .wrap {
    flex-wrap: wrap;
  }
}
